<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
<table>
<tr><td>
  <%= link_to "Show this student", @student %> |
</td></tr>
  </table>
  <%= link_to "Back to students", students_path %>
</div>
