
<div class:"container" style="background-color:lightblue">
<center>
<h1>about this website</h1>
<%= image_tag "about4.jpg", height: 200%>

<br>
<p>In this website students are assigned courses followed by CRUD operations</p>
<p>Based on marks scored by each student results are displayed</p>
<%= image_tag "about3.jpg", height: 200%> &nbsp
<%= image_tag "about2.webp", height: 200%>
<br>
<br>
</center>
</div>