<div class="container" style="background-color:lightblue">
<br>
<center><h1>welcome to students results website</h1>
<%= image_tag "index.jpeg", height: 500%>
<br><br>
<quotes><b><i>" The best way to predict your future is to create it " </i>
<br>~Abraham Lincoln</b></quotes>
</center>
</div>

