<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div>
<table>
<tr><td>
  <%= link_to "Show this course", @course %> |
  </td> </tr>
  </table>
  <%= link_to "Back to courses", courses_path %>
</div>
